<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
  <test name="MobileNameSorted">
    <classes>
      <class name="com.MyCompany.eCommProject.testscripts.MyTC1"/>
    </classes>
  </test> <!-- Test -->
   <test name="ProductPagePrice">
    <classes>
      <class name="com.MyCompany.eCommProject.testscripts.MyTC2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->